body{
    margin:0;
    font-family: 'Montserrat', sans-serif;

    font-size: 16 px;
    line-height: 1.6 ;
    color:#333;
}
.intro{
    background: url("../images/intro.jpeg") ;
    width: 20%;
    height: 20vh;
}
.intro{
    color: thistle;
}
.footer_block{
    width: 30%;

    text-align: center;
}
.footer_title{
  margin-bottom: 10px;

  font-size: 15px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
.social{
    display: flex;
    justify-content: space-between;
}
.social_item{
    display: flex;
    width: 10px;
    height: 10px;

}
.footer_title{
  margin-bottom: 10px;

  font-size: 15px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.footer_text{
  font-size: 14px;
  line-height: 1.5;
  font-style: normal;

}